<?xml version="1.0" encoding="UTF-8"?>
<nbm>
    <moduleType>autoload</moduleType>
    <codeNameBase>fi.helsinki.cs.tmc.maven/1</codeNameBase>
    
    <!-- Having the same license file as the main plugin hides this module in
         the update manager. We get a warning about a missing licenseName but
         it doesn't matter.
         Should we include the licenses of the dependencies in the license file? -->
    <licenseFile>../LICENSE</licenseFile>
</nbm>
